<div>
  <h1>Edit Password</h1>
</div>
<br>
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-5">
      <form #form="ngForm" class="was-validated">
        <div class="mb-3">
          <label class="form-label" for="oldPassword">Old password</label>
          <input type="password" id="oldPassword" class="form-control" [(ngModel)]="data.oldPassword" name="oldPassword" required>
          <div class="invalid-feedback">
            Please enter your old password
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="newPassword1">New password</label>
          <input type="password" id="newPassword1" class="form-control" [(ngModel)]="data.newPassword1" name="newPassword1" required>
          <div class="invalid-feedback">
            Please enter your new password
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="newPassword2">Confirm new password</label>
          <input type="password" id="newPassword2" class="form-control" [(ngModel)]="data.newPassword2" name="newPassword2" required>
          <div class="invalid-feedback">
            Please confirm your new password
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<br>
<button type="submit"
        class="btn btn-primary"
        [disabled]="!form.valid"
        (click)="onSubmit(form)">
  Change password
</button>
<!-- (click)="onSubmit(form)" -->
