.event {
  display: grid;
}
.event > * {
  grid-area: 1 / 1 / 2 / 2;
}

.circle {
  width: 7rem;
  height: 7rem;
  margin-top: 0.5rem;
  padding-right: 0.5rem;
  font-size: 2rem;
  color: white;
  background-color: #d16663;
  border-radius: 50%;
}
