<div class="p-3" style="max-height: 90vh; overflow-y: auto">
  <h1>Choose Credit Card</h1>
  <div
    class="card p-3 my-2"
    *ngFor="let detail of dialogData.paymentDetails; let i = index"
    (click)="paymentSelector.emit(detail.paymentDetailId)"
  >
    <h2>Payment Detail {{ i + 1 }}</h2>
    <p>•••• - •••• - •••• - {{ detail.lastFourDigits }}</p>
    <button class="btn btn-primary stretched-link" style="width: 10rem">
      Select
    </button>
  </div>
  <button
    class="btn btn-success d-block m-auto my-3"
    style="width: 10rem"
    (click)="paymentSelector.emit(-1)"
  >
    Add new
  </button>
</div>
