<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>

        <div class="card-body">
          <form (ngSubmit)="loginUser()" [formGroup]="loginForm" class="form">

            <div class="form-group">
              <label for="inputUsername">E-Mail</label>
              <input aria-describedby="usernameHelp" class="form-control" formControlName="username" id="inputUsername"
                     name="username"
                     placeholder="Enter E-Mail" type="text">
              <div *ngIf="submitted && loginForm.controls.username.errors" class="error">
                <small *ngIf="loginForm.controls.username.errors.required" class="form-text text-warning">
                  Your E-Mail is required!
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control" formControlName="password" id="password" name="password"
                     placeholder="Password"
                     type="password">
              <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
                <small *ngIf="loginForm.controls.password.errors.required" class="form-text text-warning">
                  Your password is required!
                </small>
                <small *ngIf="loginForm.controls.password.errors.minlength" class="form-text text-warning">
                  Your password must be at least 8 characters long!
                </small>
              </div>
            </div>
            <div class="forgot-password" style="float: right">
              <a class="link-dark" routerLink="/forgot-password">Forgot Password?</a>
            </div>

            <button (click)="loginUser()" class="btn btn-success float-right" type="button">Login</button>
            <div class="float-left">
              Not registered yet?
              <a class="link-dark" routerLink="/register">Sign up</a>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>
