<br/>
<h1>Your Orders</h1>
<br/>
<div class="ticket-container">
  <div *ngIf="orders && orders.length === 0">
    <h5>You don't have any orders from the past</h5>
  </div>
  <div *ngIf="orders && orders.length !== 0">
    <div *ngFor="let order of orders" class="order-box">
      <div class="order-details">
        <table
          class="order-header"
          [ngStyle]="{
            'background-color': order.cancelled ? '#f7b0b0' : '#d3d3d3'
          }"
        >
          <tbody class="order-body">
          <tr class="order-header-data">
            <td>
              <strong>Order date:</strong>{{ dateToString(order.orderTs) }}
            </td>
            <td><strong>Total price:</strong>{{ totalPrice(order) }} €</td>
            <td
              *ngIf="order.totalPoints > 0 && !order.cancelled"
              id="points-received"
            >
              <b
              >{{ order.totalPoints }}
                <i class="bi bi-stop-circle-fill" style="font-size: 1rem"></i>
                RECEIVED</b
              >
            </td>
            <td
              *ngIf="order.totalPoints < 0 && !order.cancelled"
              id="points-used"
            >
              <b
              >{{ order.totalPoints * -1 }}
                <i class="bi bi-stop-circle-fill" style="font-size: 1rem"></i>
                DEDUCTED</b
              >
            </td>
            <td
              *ngIf="order.totalPoints > 0 && order.cancelled"
              id="points-used-refund"
            >
              <b
              >{{ order.totalPoints }}
                <i class="bi bi-stop-circle-fill" style="font-size: 1rem"></i>
                REFUNDED</b
              >
            </td>
            <td *ngIf="order.cancelled" id="cancelled">
              <b
              ><i class="bi bi-x-octagon-fill" style="font-size: 1rem"></i>
                CANCELLED</b
              >
            </td>
          </tr>
          <tr class="order-header-data2">
            <div
              class="order-header-btn"
            >
              <a
                type="button"
                class="btn btn-primary"
                id="button-tickets-detail"
                aria-expanded="false"
                routerLink="/orders/{{ order.id }}"
              >
                <b>
                  <i class="bi bi-search"></i>
                  Details
                </b>
              </a>
            </div>
            <div
              class="order-header-btn"
              *ngIf="order.tickets.length + order.merchandises.length !== 0"
            >
              <button
                type="button"
                class="btn btn-primary"
                id="button-tickets"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapseAll' + order.id"
                aria-expanded="false"
                [attr.aria-controls]="'collapseAll' + order.id"
              >
                <b>
                  <i class="bi bi-basket3"></i>
                  {{ order.tickets.length + order.merchandises.length }}
                  {{
                  order.tickets.length + order.merchandises.length === 1
                    ? 'Purchase'
                    : 'Purchases'
                  }}
                </b>
              </button>
            </div>
          </tr>
          </tbody>
        </table>

        <div *ngIf="order.tickets.length !== 0">
          <div *ngFor="let ticket of order.tickets">
            <div class="collapse" id="collapseAll{{ order.id }}">
              <div
                class="card card-body"
                [ngStyle]="{
                  'background-color': order.cancelled ? '#ffcccc' : '#ececec'
                }"
              >
                <tr class="ticket-detail-data">
                  <td>
                    <h4>
                      <i class="bi bi-ticket-perforated"></i>
                      {{ ticket.eventName }}
                    </h4>
                  </td>
                  <td>
                    <i>by {{ ticket.artists }}</i>
                  </td>
                </tr>
                <div class="ticket-detail-more">
                  <div class="ticket-detail-more-2">
                    <strong>Event date:</strong>
                    {{ dateToString(ticket.datetime) }}
                  </div>
                  <div class="ticket-detail-more-1">
                    <strong>Ticket price:</strong> {{ ticket.price }}€
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="order.merchandises.length !== 0">
          <div *ngFor="let merch of order.merchandises">
            <div class="collapse" id="collapseAll{{ order.id }}">
              <div
                class="card card-body"
                [ngStyle]="{
                  'background-color': order.cancelled ? '#ffcccc' : '#ececec'
                }"
              >
                <tr class="ticket-detail-data">
                  <td>
                    <h4>
                      <i class="bi bi-bag"></i>
                      {{ merch.itemName }}
                    </h4>
                  </td>
                </tr>
                <div class="ticket-detail-more">
                  <div class="ticket-detail-more-2">
                    <strong>Quantity ordered: </strong> {{ merch.quantity }}
                  </div>
                  <div class="ticket-detail-more-1">
                    <strong>Price: </strong>{{ merch.price }}€/item (total:
                    {{ merch.price * merch.quantity }}€)
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<i>All prices include VAT and other fees.</i>
