<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Password Reset</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit(formData.value)" [formGroup]="formData" class="form">
            <div>
              <div>
                <label>Email</label>
                <input class="form-control" formControlName="email" name="EmailAddress" placeholder="Enter email"
                       type="email">
              </div>
              <div *ngIf="formData.controls.email.errors">
                <small *ngIf="formData.controls.email.errors.required"
                       class="form-text">
                  Enter your Email to receive Reset-Email!
                </small>
              </div>
              <div class="mt-3">
                <button [disabled]="!formData.valid" class="btn btn-success float-right" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
